<h1 class= "text-center">Estados</h1>

<p class= "text-center">
Descripcion = <%=@estado.descripcion.to_s%>
</p>
<br><br><br>
<%= link_to 'Editar', editar_estado_path(@estado),class: 'btn btn-warning ' %><tr>
<%= link_to 'Atras', estados_url ,class: 'btn btn-info ' %>
