<h1>Horarios#index</h1>
<p>Find me in app/views/horarios/index.html.erb</p>
<%#*<table class="table table-striped">%>
    <%#*<thead>%>
        <%#*<tr>%>
            <%# @dias.each do |dia| %>
            <%#=dia.descripcion%>
            <%#*<th></th>%>
        <%#*</tr>%>
    <%#*</thead>%>
    <%#*<tbody>%>
        <%# @horarios.each do |horario| %>
          <%#*<tr>%>
              <%#*<td><%= horario.descripcion %><#/td>%>
              <%#*<td><%= link_to 'Mostrar', horaio_url(horario),class: 'btn btn-success ' %> </td>%>
              <%#*<td><%= link_to 'Editar',editar_horario_path(horario),class: 'btn btn-warning '  %></td>%>
              <%#*<td><%= link_to'Eliminar',horario_path(horario),class: 'btn btn-danger ' , method: :delete, data: {confirm: 'Esta seguro?'} %></td>%>
          <%#*</tr>%>
        <%# end %>
    <%#*</tbody>%>
<%#*</table>%>
<%#= will_paginate @horarios, renderer: BootstrapPagination::Rails %>
