<h1>Bloque</h1>
<span class="tn btn-default btn-lg bt pull-right glyphicon glyphicon-plus"><%= link_to 'Crear Bloque',nuevo_bloque_url %></span>


<table class="table">
    <thead>
        <tr>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        <% @bloques.each do |bloque| %>
          <tr>
              <td><%= bloque.descripcion %></td>
              <td><%#= link_to 'Mostrar', bloque_url(bloque),class: 'btn btn-success ' %> </td>
              <td><%= link_to 'Editar',editar_bloque_path(bloque),class: 'btn btn-warning' %></td>
              <td><%#= link_to "Eliminar", bloques_path(bloque),class: 'btn btn-danger', method: :delete, data: {confirm: 'Esta seguro?'} %>
              </td>
          </tr>
        <% end %>
    </tbody>
</table>
<%= will_paginate @bloques, renderer: BootstrapPagination::Rails %>
